body {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  background: url("../images/background.jpg");
}

header {
}

h1 {
  font-family: 'Monoton', cursive;
  color: purple;
  letter-spacing: 1px;
  font-size: 45px;
  margin: 0;
  padding-top: 20px;
}

h2 {
  font-family:'Goudy Bookletter 1911', serif;
  color: purple;
  letter-spacing: 3px;
  font-weight: 1500;
  font-size: 23px;
  padding-top: 20px;
}

p {
  font-family: 'Goudy Bookletter 1911', serif;
  line-height: 26px;
  font-size: 20px;
  padding: 10px 0;
  color: #D3D3D3;
}

main {
   max-width: 850px;
   margin: 0 auto;
}

.top {
  width: 80px;
  height: 15px;
  padding: 10px;
  margin: 10px 70px 25px 70px;
  display: inline-block;
  color: white;
}

.answers {
    border: 2px solid #a1a1a1;
    width: 100px;
    height: 18px;
    margin: 30px 4px 0 4px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 17px;
}

#play {
  cursor: pointer;
  border: 2px solid #a1a1a1;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #999;
}

#play:hover{
  background-position:100px;
}

#play:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom:1px solid #999;
  transform: translateY(3px);
}

img {
  border: 3px dotted purple;
}

#points {
  font-family: 'Sigmar One', cursive;
  text-align: center;
  border: 3px dotted #808080;
  font-size: 19.9px;
  color: gold;
}

#level {
  font-family: 'Sigmar One', cursive;
  border: 3px dotted #808080;
  font-size: 19.9px;
  color: gold;

#timer {
  font-size: 26px;
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: auto;
  color: white;
}

.green{
  background-color: green;
}
.red{
  background-color: red;
}

#message {
  font-size: 18px;
  text-align: center;
  padding: auto;
  margin: 10px 0 0 0;
  font-weight: 600;
  color: white;
}




